$background-color: #fff;
$primary-color: #5E7466;
$secondary-color: #1D1D1D;
$tertiary-color: #F5F3EF;

$heading-font: 'Crimson Text';
$primary-font: 'Montserrat';
$secondary-font: 'Tangerine';

$nav-width: 65px;
$nav-width-mobile: 50px;